
$one-rem:12px;


$url-path:"../../";

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/

$blue-color:#5dc3d2;
$yellow-color:#efb642;
/*fonts*/

